In [2]:
import pandas as pd

file_path = '/Users/andi/Desktop/CPD/REGISTRU JURNAL 29112023 1651.xls'

df = pd.read_excel(file_path)

df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,S.C. TIMEWORX SRL c.f. 46646000 r.c. J15/1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,REGISTRU JURNAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Nr.,NaN,NaN,NaN,Cont,Cont,NaN,NaN,NaN
7,crt.,Data,Explicatie,Nr. doc,debitor,creditor,Debit,Credit,Tip
8,1,2023-01-17 00:00:00,DECONTARI INTRE ENTITATILE AFILIATE,E,5121.1,4511,10000,10000,Banca
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,2023-01-17 00:00:00,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3,2023-01-17 00:00:00,PERSONAL - SALARII DATORATE,E,421,5121.1,1252,1252,Banca
13,NaN,NaN,NaN,NaN,Total pe,2023-01-17 00:00:00,11252.51,11252.51,NaN
14,4,2023-01-25 00:00:00,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5,2023-01-25 00:00:00,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,6,2023-01-25 00:00:00,CONTR. ASIGURATORIE DE MUNCA,E,436,5121.1,46,46,Banca
19,7,2023-01-25 00:00:00,IMPOZITUL PE VENITURI DE NATURA SALARIILOR,E,444,5121.1,87,87,Banca

In [3]:
# Read the Excel file with line 7 as header
df = pd.read_excel(file_path, header=8)

# Display the DataFrame
df.head(10)

,crt.,Data,Explicatie,Nr. doc,debitor,creditor,Debit,Credit,Tip
0,1.0,2023-01-17,DECONTARI INTRE ENTITATILE AFILIATE,E,5121.1,4511,10000.00,10000.00,Banca
1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2023-01-17,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
3,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,2023-01-17,PERSONAL - SALARII DATORATE,E,421,5121.1,1252.00,1252.00,Banca
5,NaN,NaT,NaN,NaN,Total pe,2023-01-17 00:00:00,11252.51,11252.51,NaN
6,4.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
7,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
9,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dropna(subset=['crt.'], inplace=True)
df.head(10)

,crt.,Data,Explicatie,Nr. doc,debitor,creditor,Debit,Credit,Tip
0,1.0,2023-01-17,DECONTARI INTRE ENTITATILE AFILIATE,E,5121.1,4511,10000.00,10000.00,Banca
2,2.0,2023-01-17,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
4,3.0,2023-01-17,PERSONAL - SALARII DATORATE,E,421,5121.1,1252.00,1252.00,Banca
6,4.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
8,5.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
10,6.0,2023-01-25,CONTR. ASIGURATORIE DE MUNCA,E,436,5121.1,46.00,46.00,Banca
11,7.0,2023-01-25,IMPOZITUL PE VENITURI DE NATURA SALARIILOR,E,444,5121.1,87.00,87.00,Banca
13,8.0,2023-01-25,CONTR. DE ASIGURARI SOCIALE,E,4315,5121.1,515.00,515.00,Banca
14,9.0,2023-01-25,CONTR. DE ASIGURARI SOCIALE DE SANATATE,E,4316,5121.1,206.00,206.00,Banca
17,10.0,2023-01-26,Achit. GOOGLE IRELAND LIMITED nr.: 4658303473,E,401.00004,5121.1,200.00,200.00,Banca

In [5]:
df.tail()

,crt.,Data,Explicatie,Nr. doc,debitor,creditor,Debit,Credit,Tip
513,241.0,2023-10-31,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca
515,242.0,2023-10-31,IMPOZITUL PE VENITURI DE NATURA SALARIILOR,E,444,5121.1,735.00,735.00,Banca
517,243.0,2023-10-31,CONTR. DE ASIGURARI SOCIALE,E,4315,5121.1,2825.00,2825.00,Banca
518,244.0,2023-10-31,CONTR. DE ASIGURARI SOCIALE DE SANATATE,E,4316,5121.1,1130.00,1130.00,Banca
520,245.0,2023-10-31,Inchidere luna Octombrie 2023,NaN,121.2,%,15126.06,15126.06,Inchidere

In [6]:
filtered_df = df[df['Explicatie'].str.contains('google', case=False) & (df['debitor'] == 628)]
sum_debitor = filtered_df['debitor'].sum()
filtered_df, sum_debitor

(    crt.       Data                         Explicatie     Nr. doc debitor  \
 26  14.0 2023-01-31  Val. intr. GOOGLE IRELAND LIMITED  4658303473     628

      creditor   Debit  Credit      Tip
 26  401.00004  532.57  532.57  Intrari  ,
 628)

In [8]:
filtered_df = df[
    df['Explicatie'].str.contains('Google', case=False) 
    & (df['creditor'] != 512.1)
    ]
sum_debit = filtered_df['Debit'].sum()
sum_debit

1065.14

In [7]:
from forex_python.converter import CurrencyRates
from datetime import datetime, timedelta

def get_historical_rates(currency_from, currency_to, start_year, end_year):
    # Create an instance of the CurrencyRates class
    c = CurrencyRates()
    
    # Create a date range from January 1st of the start year to December 31st of the end year
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)

    # Iterate over each day in the date range and fetch the exchange rate
    rates = {}
    current_date = start_date
    while current_date <= end_date:
        try:
            rate = c.get_rate(currency_from, currency_to, current_date)
            rates[current_date.strftime('%Y-%m-%d')] = rate
        except Exception as e:
            print(f"Could not fetch rate for date: {current_date.strftime('%Y-%m-%d')}. Error: {e}")
        current_date += timedelta(days=1)

    return rates

# Example usage
historical_rates = get_historical_rates('EUR', 'RON', 2023, 2023)
print(historical_rates)

{'2023-01-01': 4.9495, '2023-01-02': 4.94, '2023-01-03': 4.931, '2023-01-04': 4.9264, '2023-01-05': 4.9235, '2023-01-06': 4.9296, '2023-01-07': 4.9296, '2023-01-08': 4.9296, '2023-01-09': 4.9253, '2023-01-10': 4.9338, '2023-01-11': 4.9335, '2023-01-12': 4.944, '2023-01-13': 4.9423, '2023-01-14': 4.9423, '2023-01-15': 4.9423, '2023-01-16': 4.9313, '2023-01-17': 4.9356, '2023-01-18': 4.9388, '2023-01-19': 4.9265, '2023-01-20': 4.9258, '2023-01-21': 4.9258, '2023-01-22': 4.9258, '2023-01-23': 4.9202, '2023-01-24': 4.9171, '2023-01-25': 4.9035, '2023-01-26': 4.8818, '2023-01-27': 4.8965, '2023-01-28': 4.8965, '2023-01-29': 4.8965, '2023-01-30': 4.9055, '2023-01-31': 4.921, '2023-02-01': 4.9117, '2023-02-02': 4.9025, '2023-02-03': 4.902, '2023-02-04': 4.902, '2023-02-05': 4.902, '2023-02-06': 4.9055, '2023-02-07': 4.902, '2023-02-08': 4.8975, '2023-02-09': 4.8935, '2023-02-10': 4.902, '2023-02-11': 4.902, '2023-02-12': 4.902, '2023-02-13': 4.9031, '2023-02-14': 4.901, '2023-02-15': 4.9008, '2023-02-16': 4.9009, '2023-02-17': 4.9165, '2023-02-18': 4.9165, '2023-02-19': 4.9165, '2023-02-20': 4.918, '2023-02-21': 4.9188, '2023-02-22': 4.9238, '2023-02-23': 4.9146, '2023-02-24': 4.9195, '2023-02-25': 4.9195, '2023-02-26': 4.9195, '2023-02-27': 4.9198, '2023-02-28': 4.92, '2023-03-01': 4.9174, '2023-03-02': 4.9223, '2023-03-03': 4.9235, '2023-03-04': 4.9235, '2023-03-05': 4.9235, '2023-03-06': 4.9205, '2023-03-07': 4.9178, '2023-03-08': 4.9113, '2023-03-09': 4.915, '2023-03-10': 4.9143, '2023-03-11': 4.9143, '2023-03-12': 4.9143, '2023-03-13': 4.9168, '2023-03-14': 4.9218, '2023-03-15': 4.9218, '2023-03-16': 4.9215, '2023-03-17': 4.9208, '2023-03-18': 4.9208, '2023-03-19': 4.9208, '2023-03-20': 4.9233, '2023-03-21': 4.9225, '2023-03-22': 4.9215, '2023-03-23': 4.9228, '2023-03-24': 4.9305, '2023-03-25': 4.9305, '2023-03-26': 4.9305, '2023-03-27': 4.9405, '2023-03-28': 4.9523, '2023-03-29': 4.95, '2023-03-30': 4.9483, '2023-03-31': 4.949, '2023-04-01': 4.949, '2023-04-02': 4.949, '2023-04-03': 4.9367, '2023-04-04': 4.933, '2023-04-05': 4.9314, '2023-04-06': 4.9369, '2023-04-07': 4.9369, '2023-04-08': 4.9369, '2023-04-09': 4.9369, '2023-04-10': 4.9369, '2023-04-11': 4.9375, '2023-04-12': 4.9385, '2023-04-13': 4.9435, '2023-04-14': 4.9423, '2023-04-15': 4.9423, '2023-04-16': 4.9423, '2023-04-17': 4.9425, '2023-04-18': 4.9357, '2023-04-19': 4.9321, '2023-04-20': 4.9308, '2023-04-21': 4.941, '2023-04-22': 4.941, '2023-04-23': 4.941, '2023-04-24': 4.9298, '2023-04-25': 4.937, '2023-04-26': 4.9391, '2023-04-27': 4.939, '2023-04-28': 4.9301, '2023-04-29': 4.9301, '2023-04-30': 4.9301, '2023-05-01': 4.9301, '2023-05-02': 4.9305, '2023-05-03': 4.9302, '2023-05-04': 4.9295, '2023-05-05': 4.928, '2023-05-06': 4.928, '2023-05-07': 4.928, '2023-05-08': 4.9246, '2023-05-09': 4.92, '2023-05-10': 4.9219, '2023-05-11': 4.9322, '2023-05-12': 4.9318, '2023-05-13': 4.9318, '2023-05-14': 4.9318, '2023-05-15': 4.9375, '2023-05-16': 4.9478, '2023-05-17': 4.9605, '2023-05-18': 4.9708, '2023-05-19': 4.9783, '2023-05-20': 4.9783, '2023-05-21': 4.9783, '2023-05-22': 4.9737, '2023-05-23': 4.972, '2023-05-24': 4.9614, '2023-05-25': 4.9495, '2023-05-26': 4.9572, '2023-05-27': 4.9572, '2023-05-28': 4.9572, '2023-05-29': 4.96, '2023-05-30': 4.963, '2023-05-31': 4.9695, '2023-06-01': 4.9645, '2023-06-02': 4.9622, '2023-06-03': 4.9622, '2023-06-04': 4.9622, '2023-06-05': 4.9653, '2023-06-06': 4.9592, '2023-06-07': 4.9586, '2023-06-08': 4.953, '2023-06-09': 4.9566, '2023-06-10': 4.9566, '2023-06-11': 4.9566, '2023-06-12': 4.9568, '2023-06-13': 4.9627, '2023-06-14': 4.956, '2023-06-15': 4.9578, '2023-06-16': 4.961, '2023-06-17': 4.961, '2023-06-18': 4.961, '2023-06-19': 4.9588, '2023-06-20': 4.9629, '2023-06-21': 4.9625, '2023-06-22': 4.9631, '2023-06-23': 4.9538, '2023-06-24': 4.9538, '2023-06-25': 4.9538, '2023-06-26': 4.9561, '2023-06-27': 4.961, '2023-06-28': 4.9604, '2023-06-29': 4.9638, '2023-06-30': 4.9635, '2023-07-01': 4.9635, '2023-07-02': 4.9635, '2023-07-03': 4.9532, '2023-07-04': 4.9485, '2023-07-05': 4.9515, '2023-07-06': 4.9504, '2023-07-07': 4.9557, '2023-07-08': 4.9557, '2023-07-09': 4.9557, '2023-07-10': 4.949, '2023-07-11': 4.949, '2023-07-12': 4.9495, '2023-07-13': 4.9433, '2023-07-14': 4.9439, '2023-07-15': 4.9439, '2023-07-16': 4.9439, '2023-07-17': 4.9414, '2023-07-18': 4.938, '2023-07-19': 4.944, '2023-07-20': 4.938, '2023-07-21': 4.9367, '2023-07-22': 4.9367, '2023-07-23': 4.9367, '2023-07-24': 4.924, '2023-07-25': 4.9223, '2023-07-26': 4.9288, '2023-07-27': 4.93, '2023-07-28': 4.9308, '2023-07-29': 4.9308, '2023-07-30': 4.9308, '2023-07-31': 4.9349, '2023-08-01': 4.9319, '2023-08-02': 4.9341, '2023-08-03': 4.939, '2023-08-04': 4.953, '2023-08-05': 4.953, '2023-08-06': 4.953, '2023-08-07': 4.949, '2023-08-08': 4.9498, '2023-08-09': 4.948, '2023-08-10': 4.9432, '2023-08-11': 4.9407, '2023-08-12': 4.9407, '2023-08-13': 4.9407, '2023-08-14': 4.9418, '2023-08-15': 4.9395, '2023-08-16': 4.9358, '2023-08-17': 4.9385, '2023-08-18': 4.9448, '2023-08-19': 4.9448, '2023-08-20': 4.9448, '2023-08-21': 4.9406, '2023-08-22': 4.9376, '2023-08-23': 4.9408, '2023-08-24': 4.9358, '2023-08-25': 4.939, '2023-08-26': 4.939, '2023-08-27': 4.939, '2023-08-28': 4.936, '2023-08-29': 4.9418, '2023-08-30': 4.942, '2023-08-31': 4.942, '2023-09-01': 4.9459, '2023-09-02': 4.9459, '2023-09-03': 4.9459, '2023-09-04': 4.946, '2023-09-05': 4.9496, '2023-09-06': 4.9603, '2023-09-07': 4.96, '2023-09-08': 4.963, '2023-09-09': 4.963, '2023-09-10': 4.963, '2023-09-11': 4.9635, '2023-09-12': 4.971, '2023-09-13': 4.9673, '2023-09-14': 4.9703, '2023-09-15': 4.9698, '2023-09-16': 4.9698, '2023-09-17': 4.9698, '2023-09-18': 4.969, '2023-09-19': 4.9698, '2023-09-20': 4.9716, '2023-09-21': 4.9708, '2023-09-22': 4.9686, '2023-09-23': 4.9686, '2023-09-24': 4.9686, '2023-09-25': 4.968, '2023-09-26': 4.97, '2023-09-27': 4.9745, '2023-09-28': 4.9754, '2023-09-29': 4.9735, '2023-09-30': 4.9735, '2023-10-01': 4.9735, '2023-10-02': 4.9748, '2023-10-03': 4.9753, '2023-10-04': 4.9753, '2023-10-05': 4.9703, '2023-10-06': 4.9645, '2023-10-07': 4.9645, '2023-10-08': 4.9645, '2023-10-09': 4.9665, '2023-10-10': 4.9654, '2023-10-11': 4.9661, '2023-10-12': 4.9632, '2023-10-13': 4.9648, '2023-10-14': 4.9648, '2023-10-15': 4.9648, '2023-10-16': 4.965, '2023-10-17': 4.9685, '2023-10-18': 4.972, '2023-10-19': 4.9746, '2023-10-20': 4.9755, '2023-10-21': 4.9755, '2023-10-22': 4.9755, '2023-10-23': 4.9701, '2023-10-24': 4.9656, '2023-10-25': 4.9626, '2023-10-26': 4.9641, '2023-10-27': 4.9657, '2023-10-28': 4.9657, '2023-10-29': 4.9657, '2023-10-30': 4.9641, '2023-10-31': 4.9659, '2023-11-01': 4.9679, '2023-11-02': 4.9685, '2023-11-03': 4.9693, '2023-11-04': 4.9693, '2023-11-05': 4.9693, '2023-11-06': 4.9692, '2023-11-07': 4.9685, '2023-11-08': 4.9665, '2023-11-09': 4.9686, '2023-11-10': 4.9698, '2023-11-11': 4.9698, '2023-11-12': 4.9698, '2023-11-13': 4.971, '2023-11-14': 4.971, '2023-11-15': 4.9719, '2023-11-16': 4.9704, '2023-11-17': 4.9705, '2023-11-18': 4.9723, '2023-11-19': 4.9723, '2023-11-20': 4.9723, '2023-11-21': 4.9721, '2023-11-22': 4.9707, '2023-11-23': 4.9708, '2023-11-24': 4.9699, '2023-11-25': 4.9698, '2023-11-26': 4.9698, '2023-11-27': 4.9698, '2023-11-28': 4.9709, '2023-11-29': 4.9726, '2023-11-30': 4.9726, '2023-12-01': 4.9718, '2023-12-02': 4.9713, '2023-12-03': 4.9713, '2023-12-04': 4.9713, '2023-12-05': 4.9677, '2023-12-06': 4.9671, '2023-12-07': 4.9671, '2023-12-08': 4.9671, '2023-12-09': 4.9671, '2023-12-10': 4.9671, '2023-12-11': 4.9671, '2023-12-12': 4.9671, '2023-12-13': 4.9671, '2023-12-14': 4.9671, '2023-12-15': 4.9671, '2023-12-16': 4.9671, '2023-12-17': 4.9671, '2023-12-18': 4.9671, '2023-12-19': 4.9671, '2023-12-20': 4.9671, '2023-12-21': 4.9671, '2023-12-22': 4.9671, '2023-12-23': 4.9671, '2023-12-24': 4.9671, '2023-12-25': 4.9671, '2023-12-26': 4.9671, '2023-12-27': 4.9671, '2023-12-28': 4.9671, '2023-12-29': 4.9671, '2023-12-30': 4.9671, '2023-12-31': 4.9671}

In [8]:

df['Exchange Rate'] = df['Data'].apply(lambda x: historical_rates.get(x.strftime('%Y-%m-%d'), None) if pd.notnull(x) else None)
df.head(10)

,crt.,Data,Explicatie,Nr. doc,debitor,creditor,Debit,Credit,Tip,Exchange Rate
0,1.0,2023-01-17,DECONTARI INTRE ENTITATILE AFILIATE,E,5121.1,4511,10000.00,10000.00,Banca,4.9356
2,2.0,2023-01-17,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca,4.9356
4,3.0,2023-01-17,PERSONAL - SALARII DATORATE,E,421,5121.1,1252.00,1252.00,Banca,4.9356
6,4.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca,4.9035
8,5.0,2023-01-25,CHELT. CU SERV.BANCARE SI ASIMILATE,E,627,5121.1,0.51,0.51,Banca,4.9035
10,6.0,2023-01-25,CONTR. ASIGURATORIE DE MUNCA,E,436,5121.1,46.00,46.00,Banca,4.9035
11,7.0,2023-01-25,IMPOZITUL PE VENITURI DE NATURA SALARIILOR,E,444,5121.1,87.00,87.00,Banca,4.9035
13,8.0,2023-01-25,CONTR. DE ASIGURARI SOCIALE,E,4315,5121.1,515.00,515.00,Banca,4.9035
14,9.0,2023-01-25,CONTR. DE ASIGURARI SOCIALE DE SANATATE,E,4316,5121.1,206.00,206.00,Banca,4.9035
17,10.0,2023-01-26,Achit. GOOGLE IRELAND LIMITED nr.: 4658303473,E,401.00004,5121.1,200.00,200.00,Banca,4.8818

In [1]:
filtered_df = df[
    df['Explicatie'].str.contains('Google', case=False) 
    & (df['creditor'] != 512.1)
    ]
filtered_df['Debit_with_exchange'] = filtered_df['Debit'] / filtered_df['Exchange Rate']
sum_debit = filtered_df['Debit_with_exchange'].sum()
sum_debit

NameError: name 'df' is not defined

In [ ]:
df['Debitor_First_3'] = df['debitor'].astype(str).str.slice(stop=3)
df['Creditor_First_3'] = df['creditor'].astype(str).str.slice(stop=3)
df.head(10)

In [ ]:
filtered_df = df[df['Debitor_First_3'] == '628']
filtered_df.head(10)

In [ ]:
unique_descriptions = filtered_df.groupby('Explicatie')['Debit'].sum().reset_index().rename(columns={'Debit': 'Total Debit Amount'})

unique_descriptions

In [ ]:
import matplotlib.pyplot as plt

# Filter the DataFrame to include only rows where the debitor or creditor account starts with '512'
bank_df = df[df['debitor'].astype(str).str.startswith('512') | df['creditor'].astype(str).str.startswith('512')]

# Add a column to indicate the sign of the amount based on the account type
bank_df['Amount'] = bank_df.apply(lambda row: row['Debit'] if str(row['debitor']).startswith('512') else -row['Credit'], axis=1)

# Calculate the balance column
bank_df['Balance'] = bank_df['Amount'].cumsum()

# Show the chart
plt.plot(bank_df['Balance'])
plt.xlabel('Transaction')
plt.ylabel('Balance')
plt.title('Bank Account Balance')
plt.show()

In [ ]:
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.llms import openai
from dotenv import load_dotenv
import os

load_dotenv()
openai_api_key = os.getenv('OPENAI_API_KEY')
if not openai_api_key:
    raise ValueError("OpenAI API key not found. Please set it in your environment variables.")
openai.api_key = openai_api_key

In [ ]:
agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0.5, model="gpt-4-1106-preview"),
    df,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

In [ ]:
agent.run("can you run a Benfords law to this ledger?")

In [ ]:
df_journalEntry = df

In [ ]:
import pandas as pd

file_path = '/Users/andi/Desktop/CPD/Balanta de verificare 29112023 1653.xls'

df_trialBalance = pd.read_excel(file_path)

df_trialBalance.head(20)

In [ ]:
df_trialBalance = pd.read_excel(file_path, header=9)

df_trialBalance.head(10)

In [ ]:
df_trialBalance.drop(columns=['Unnamed: 2', 'Unnamed: 6'], inplace=True)
df_trialBalance.head(10)

In [ ]:
df_trialBalance.rename(columns=
                       {'Unnamed: 0': 'account', 
                        'Unnamed: 1': 'Description', 
                        'Debitoare': 'Opening Debit', 
                        'Creditoare': 'Opening Credit', 
                        'Debitoare.1': 'Transaction Debit', 
                        'Creditoare.1': 'Transaction Credit', 
                        'Debitoare.2': 'Total Transactions Debit', 
                        'Creditoare.2': 'Total Transactions Credit', 
                        'Debitoare.3': 'Closing Debit', 
                        'Creditoare.3': 'Closing Credit'
                        }, 
                       inplace=True)
df_trialBalance.head(10)

In [ ]:
df_trialBalance.dropna(subset=['account'], inplace=True)
df_trialBalance.head(10)

In [ ]:
agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0.5, model="gpt-4-1106-preview"),
    [df_trialBalance, df_journalEntry],
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

In [ ]:
agent.run("what informations are in data frames? And how they ralate to eachother")

In [ ]:
agent.run("can you reconcile the information between the two data frames to see if are in agreement?")